* {
    padding: 0px;
    margin: 0px;
}

body,
html {
    font-family: Roboto, sans-serif, arial;
    background: #e5939314;
    max-width: 100%;
    overflow-x: hidden;
}

.width-100 {
    width: 100%;
    float: left;
    color: red;
}

.container {
    width: 1375px;
    margin: 0px auto;
}

.top-header {
    background: #2196f3;
    padding: 5px 0px;
    border-bottom: 1px solid #3131315e;

}

.news-list {
    background: white;
    color: red;
    padding: 6px;
    font-size: 20px;
}

.headquote {
    font-size: 18px;
    color: white;
    width: 80%;
}

.header-menu {
    position: relative;
    box-shadow: 0px 2px 5px 0px #00000036;
}

.logo {
    width: fit-content;
    float: left;
}

.main-menu {
    list-style: none;
    float: right;
    margin-top: 20px;
}

.main-menu a {
    font-weight: 700;
    color: black;
    font-size: 40px;
    text-decoration: none;
}

.main-menu li {
    float: left;
    padding: 12px 19px;
}
.head-title {
    margin: 0px;
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 5px;
    text-align: center;
}
.heading-sect {
    width: 100%;
    float: left;
    border-bottom: 0px;
    padding-bottom: 10px;
    margin: 0px;
    margin-bottom: 15px;
    border: 1px solid #cfcfcf;
    padding-top: 15px;
    padding-left: 15px;
    background: #00aed9;
    color: white;
}
.width-33 {
    width: 100%; 
    float: left;
}
.photo{
    padding: 1px;
    
}
.staff-info{
  /*  margin-top: -15px; */
    padding-left: 14px;
    width: 313px;
    float: left;
    padding: 11px;
}
.staff-photo{
border: 1px solid #cbacac;
background-color: white;
}
.staff-photo img{
   /* margin-left: 10px;
    margin-right: 10px;
    background: white;
    padding: 20px;*/
    height: 300px;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #cbacac;
}
.staff-name{
font-size: 24px;
}
.staff-desig{
    font-size: 21px;
    padding-top: 10px;
}
.staff-exp{
    font-size: 22px;
    padding-top: 10px;
}
